<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="User">
    <resultMap id="UserMap" type="UserDTO">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="nickname" column="nickname"/>
        <result property="created"  column="created"/>
    </resultMap>

	<!-- 회원가입 저장 -->
    <insert id="save" parameterType="UserDTO"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user(username, password, nickname)
        VALUES(#{username}, #{password}, #{nickname})
    </insert>

    <!-- username 으로 회원 조회 -->
    <select id="findByUsername" parameterType="string" resultMap="UserMap">
        SELECT * FROM user WHERE username = #{username}
    </select>

    <!-- username 중복 확인 -->
    <select id="countByUsername" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM user WHERE username = #{username}
    </select>
</mapper>
